@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

:root {
    /* =============== Colors =============== */
    --clr-title: #4a4a4a;
    --clr-para: #757575;
    --clr-white: hsl(0, 0%, 100%);
    --clr-yellow: #fbad27;
    --clr-yellow-alt: #dd9313;
    --clr-red: #ff4c65;

    /* =============== Font size & Typography =============== */
    --body-font: 'Roboto', sans-serif;
    /* 16px */
    --fs-body: 1rem;
    /* 72px */
    --fs-hero-title: 4.5rem;
    /* 20px */
    --fs-sub-title: 1.25rem;
    /* 50px */
    --fs-section-title: 3.125rem;

    /* =============== padding and margins =============== */
    --m-1: .5rem;
    --m-2: 1rem;
    --m-3: 1.5rem;
    --m-4: 2rem;
    --m-5: 2.5rem;
    --m-6: 3rem;
    --m-7: 3.5rem;
    --m-8: 4rem;
    --m-9: 4.5rem;
    --m-10: 5rem;

    --p-1: .5rem;
    --p-2: 1rem;
    --p-3: 1.5rem;
    --p-4: 2rem;
    --p-5: 2.5rem;
    --p-6: 3rem;
    --p-7: 3.5rem;
    --p-8: 4rem;
    --p-9: 4.5rem;
    --p-10: 5rem;

    /* =============== Z - Index =============== */
    --z-fixed: 100;
    --z-tooltip: 10;

}

/* =============== Base =============== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

body {
    background-color: var(--clr-white);
    font-family: var(--body-font);
    font-size: var(--fs-body);
    color: var(--clr-para);
    line-height: 1.6;
    overflow: hidden;
}


/* =============== Reusable classes =============== */
.body-container {
    max-width: 1600px;
    width: calc(100% - .5rem);
    margin: 0 auto;
}

.container {
    max-width: 1300px;
    width: calc(100% - .5rem);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    line-height: 1;
    color: var(--clr-white);
    padding: 15px 35px;
    border-radius: 50px;
    background-color: var(--clr-yellow);
    transition: all .3s ease;
}

.btn:hover {
    background-color: var(--clr-yellow-alt)
}

/* =============== header =============== */
.header {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    padding: var(--p-6) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7B5C7C;
}

.nav__list {
    display: flex;
    gap: 1.875rem;
}

.nav__link {
    text-transform: capitalize;
    color: var(--clr-white);
    font-weight: 300;
}

.nav__contact {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--clr-white);
    font-weight: 300;
}

.nav__contact i {
    font-size: 1.25rem;
}


/* =============== Hero =============== */
.hero {
    background-image: url('../img/herobg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--clr-white);
}

.hero__container {
    position: relative;
    height: 100%;
}

.hero__play {
    position: absolute;
    bottom: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero__play i {
    font-size: 50px;
}

.hero__play__text h5 {
    font-weight: 300;
    text-transform: capitalize;
}

.hero__play__text h4 {
    text-transform: uppercase;
    font-weight: 400;
}

.hero__data__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    text-transform: capitalize;
}

.hero__title {
    font-size: var(--fs-hero-title);
    line-height: 1;

}

.hero__subtitle {
    font-size: var(--fs-sub-title);
    margin: var(--m-4) 0;
}